.example-spacer {
    flex: 1 1 auto;
}

.example-form-field {
    width: 100%;
}

table {
    width: 100%;
}

.tabela-titulo-musica {
    text-transform: lowercase;
}

.carregando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}