<mat-toolbar color="primary">
  <span>Karaoke Músicas</span>
  <span class="example-spacer"></span>
  <button (click)="controlarPesquisa()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>

<mat-form-field *ngIf="pesquisa_habilitada" class="example-form-field">
  <mat-label>Pesquisar</mat-label>
  <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ex. roberto">
</mat-form-field>

<table mat-table [dataSource]="dados_da_tabela" class="mat-elevation-z8">

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
  </ng-container>

  <ng-container matColumnDef="interprete_titulo">
    <th mat-header-cell *matHeaderCellDef> Interprete / Título </th>
    <td mat-cell *matCellDef="let element"> 
      <span>{{element.interprete}}</span> <br>
      <span class="tabela-titulo-musica">{{element.titulo}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<div *ngIf="exibir_carregando" class="carregando">
  <mat-spinner></mat-spinner>
</div>
